<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>カルテ管理</title>
<link rel="stylesheet" href="/css/karte.css" />
</head>
<body>
	<div id="sideNav">
		<ul style="list-style: none;">
			<li><a href="/kasidasi" class="linkBtn">カルテ貸出</a></li>
			<li><a href="/karteichiran" class="linkBtn">カルテ一覧</a></li>
			<li><a href="/karte" class="linkBtn">カルテ管理</a></li>
			<li id="end"><a href="" class="linkBtn">終 了</a></li>
		</ul>
	</div>

	<div id="contents">
		<form action="/karte/registKarte" method="post" th:object="${karteForm}">
			<ul>
				<li th:each="e : ${#fields.detailedErrors()}" th:text="${e.message}" style="color: red;" />
			</ul>
			<div id="type">カルテ管理</div>
			<div id="common">
				<div>
					<label><span class="commonCols">ID</span>
					<input type="text" id="patientId" th:field="*{patientId}" />
					</label>
				</div>
				<div>
					<label><span class="commonCols">カルテ番号</span>
					<input type="text" id="karteLibId" th:field="*{karteLibId}" />
					</label>
				</div>
				<div>
					<label><span class="commonCols">フリガナ</span>
						<input type="text" id="patientKana" th:field="*{patientKana}" />
					</label>
					<label>
						<span class="commonCols">氏名</span>
						<input type="text" id="patientName" th:field="*{patientName}" />
					</label>
				</div>
				<div>
					<label><span class="commonCols">生年月日</span>
						<input type="text" id="birthDate" th:field="*{birthDate}" size="10" />
					</label>
					<label><span class="commonCols">年齢</span>
						<input type="text" id="age" size="2" name="age" th:field="*{age}" />
					</label>
					<label><span class="commonCols">血液型</span>
						<input type="text" id="abo" size="4" th:field="*{abo}" />
					</label>
					<label><span class="commonCols">性別</span>
						<select id="sex" name="sex" th:field="*{sex}">
							<option value="">選択してください</option>
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
					</label>
				</div>
				<div>
					<label><span class="commonCols">住所</span>
							<input type="text" id="addr" th:field="*{addr}" />
					</label>
					<label><span class="commonCols">電話番号</span>
							<input type="text" id="tel" th:field="*{tel}"/>
					</label>
				</div>
			</div>
			<div id="controls" style="clear: both;">
				<input type="submit" id="touroku" value="登録" />
				<input type="submit" id="hennsyuu" value="編集" />
				<input type="submit" id="sakujo" value="削除" />
			</div>

			<div id="detail">
				<table border="3" rules="all" style="margin: auto;">
					<tr>
						<td>入院科</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>主治医</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>死亡日</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>入院病棟</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>担当医１</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>解剖有無</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>入院日</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>担当医２</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>退院日</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>退院科</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>紹介状</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>退院時病棟</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>救急車</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
						<td>転帰</td>
						<td>
							<select id="department" th:field="*{departmentMstId}">
								<option th:each="departmentMst : ${departmentMstList}" th:value="${departmentMst.departmentMstId}" th:utext="${departmentMst.name}"/>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
</body>
</html>