
body {
	width: 1024px;
	height: 768px;
	border: 1px solid #000;
}

div {
	box-sizing: border-box;
	padding: 5px;
}

#sideNav {
	width: 200px;
	height: 100%;
	float: left;
	border: 1px solid #000;
	/*↓背景グラデーションの指定*/
	background: -moz-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: -webkit-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: linear-gradient(#FBFCFC, #F0F8F1);
}

#end {
	margin-top: 480px;
}

#contents {
	width: 824px;
	height: 100%;
	float: left;
	border: 1px solid #000;
}

#type {
	border: 1px solid #000;
}

#common {
	height: 230px;
	border: 1px solid #000;
}

#detail {
	height: 388px;
	border: 1px solid #000;
	text-align: center;
	/*↓背景グラデーションの指定*/
	background: -moz-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: -webkit-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: linear-gradient(#FBFCFC, #F0F8F1);
}

#controls {
	height: 80px;
	border: 1px solid #000;
	/*↓背景グラデーションの指定*/
	background: -moz-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: -webkit-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: linear-gradient(#FBFCFC, #F0F8F1);
}

#Ikkatu {
	float: right;
}

.commonCols {
	display: inline-block;
	width: 80px;
	background-color: #8FBC8F;
	color: #fff;
	margin: 1px;
	padding: 3px;
	text-align: center;
}

#age, #gender {
	display: inline-block;
	width: 40px;
	background-color: #ffffff;
	/*color:#fff;*/
	margin: 1px;
	padding: 3px;
	text-align: center;
}

#gender {
	width: 100px;
}

.detailCols {
	width: 100px;
	background-color: #8FBC8F;
	color: #fff;
	margin: 1px;
	padding: 3px;
}
/*    .linkBtn {
            display:inline-block;
            border:1px slid #000;
            background-color:#808080;
            color:#fff;
            margin:5px;
            padding:15px;
            text-align:center;
            text-decoration: none;
            border-radius: 3px;
        }  */
.linkBtn {
	display: inline-block;
	text-decoration: none;
	background: #8FBC8F;
	color: #fff;
	width: 120px;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 5px #556B2f;
	text-shadow: -1px -1px rgba(255, 255, 255, 0.43), 1px 1px
		rgba(0, 0, 0, 0.49);
	transition: .4s;
}

.linkBtn:active {
	-ms-transform: translateY(2px);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
	border-bottom: none;
}

form#form1 {
	width: 100%;
	/* padding: 10px;*/
	margin-bottom: 15px;
	border: 1px solid #CCC;
	color: #666;
	background: #F0F8F1;
	/*↓背景グラデーションの指定*/
	background: -moz-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: -webkit-linear-gradient(top, #FBFCFC, #F0F8F1);
	background: linear-gradient(#FBFCFC, #F0F8F1);
}

.kasidasiType {
	margin-right: 25px;
}

#karteDet {
	margin: auto;
	border:3px solid #000;
}

#karteDet th {
	white-space: nowrap;
}

.lvAmbFlg {
	text-align:left;
	display:block;
	font-size:.8em;
}