<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>カルテ貸出</title>
<link rel="stylesheet" href="/css/kasidasi.css" />
</head>
<body>
<div id="sideNav">
	<ul style="list-style: none;">
		<li><a href="/kasidasi" class="linkBtn">カルテ貸出</a></li>
		<li><a href="/karteichiran" class="linkBtn">カルテ一覧</a></li>
		<li><a href="/karte" class="linkBtn">カルテ管理</a></li>
		<li id="end"><a href="" class="linkBtn">終 了</a></li>
	</ul>
</div>
<div id="contents">
	<form id="form1" th:action="@{/kasidasi/search}" th:object="${kasidasiForm}" method="post">
		<div id="type">
			<label class="kasidasiType"><input type="radio" name="kasidasiType" />貸出</label>
			<label class="kasidasiType"><input type="radio" name="kasidasiType" />返却</label>
			<label class="kasidasiType"><input type="radio" name="kasidasiType" />すべて</label>
		</div>
		<div id="common">
			<div>
				<label><span class="commonCols">ID</span>
					<input type="text" id="karteLibId" name="karteLibId" th:field="*{karteLibId}" />
				</label>
			</div>
			<div>
				<label><span class="commonCols">カルテ番号</span>
					<input type="text" id="patientId" name="patientId" th:field="*{patientId}" />
				</label>
			</div>
			<div>
				<label><span class="commonCols">フリガナ</span>
					<input type="text" id="patientKana" name="patientKana" th:field="*{patientKana}" />
				</label>
				<label><span class="commonCols">氏名</span>
					<input type="text" id="patientName" name="patientName" th:field="*{patientName}" />
				</label>
			</div>
			<div>
				<label><span class="commonCols">生年月日</span>
					<input type="text" id="birthDate" size="10" name="birthDate" th:field="*{birthDate}" />
				</label>
				<label><span class="commonCols">年齢</span>
					<input type="text" id="age" size="2" name="age" th:field="*{age}" />
				</label>
				<label><span class="commonCols">性別</span>
					<select id="sex" name="sex" th:field="*{sex}">
						<option value="">選択してください</option>
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</label>
			</div>
			<div id="commonCols">
				<input type="submit" value="検索" />
				<input type="submit" value="クリア" />
			</div>
		</div>
	</form>
	<div id="detail">
		<table id="karteList">
			<tr class="detailCols">
				<th>氏名</th>
				<th>フリガナ</th>
				<th>ID</th>
				<th>カルテ番号</th>
				<th>診療科</th>
				<th>入院日</th>
				<th>退院日</th>
				<th>提出先</th>
				<th>貸出状況</th>
				<th>選択</th>
			</tr>
			<tr th:each="data : ${dataList}">
				<td th:text="${data.patientName}"></td>
				<td th:text="${data.patientKana}"></td>
				<td th:text="${data.patientId}"></td>
				<td><a th:href="@{/karte/{karteLibId}(karteLibId=${data.karteLibId})}" th:text="${data.karteLibId}" /></td>
				<td th:text="${data.departmentMst.name}"></td>
				<td th:text="${data.entryDate}"></td>
				<td th:text="${data.leaveDate}"></td>
				<!-- <td th:text="${data.takeTo}"></td> -->
				<td style="color:red;font-weight:bold;">ここは貸出先マスタから名前を表示するように修正が必要！診療科の表示を参考に</td>
				<td th:text="${data.takeDate}"></td>
			</tr>
		</table>
	</div>
	<div id="controls">
		<input type="submit" id="Ikkatu" value="一括貸出・返却" />
	</div>
</div>
</body>
</html>